@mixin heading-h2() {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: $color-main;
	letter-spacing: 1px;
}

@mixin heading-h2-tablet() {
	font-weight: 700;
	font-size: 43px;
	line-height: 50px;
	color: $color-main;
	letter-spacing: 0;
}

@mixin contacts-font() {
	font-size: 15px;
	line-height: 30px;
	color: $color-second;
}


@mixin container() {
    width: 320px;
    margin: 0 auto;
    @media #{$tablet-widths} {
        width: 640px;
    }
    @media #{$desktop-widths} {
        width: 960px;
    }
}
