@mixin heading-h2() {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	color: $color-main;
}

@mixin heading-h1-desktop() {
	font-weight: 700;
	font-size: 53px;
	line-height: 57px;
	color: $color-main;
	letter-spacing: 0;
}

@mixin heading-h2-tablet() {
	font-weight: 700;
	font-size: 43px;
	line-height: 50px;
	color: $color-main;
	letter-spacing: 0;
}

@mixin contacts-font() {
	font-size: 15px;
	line-height: 30px;
	color: $color-second;
}

@mixin container() {
	outline: 1px solid blue;
	width: 320px;
	margin: 0 auto;
	@media #{$tablet-widths} {
		width: 768px;
		padding: 0 50px;
	}
	@media #{$desktop-widths} {
		width: 1050px;
		padding: 0;
	}
}

@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}
