$font-stack: OpenSans, Arial, Helvetica, sans-serif;
$font-stack-bold: OpenSansBold, Arial, Helvetica, sans-serif;
$color-main:  #000000;
$color-second:  #444444;
$color-third: #ffffff;
$color-fourth: #46c1ae;

