$color-main:  #000000;
$color-second:  #444444;
$color-third: #ffffff;
$color-third-opacity: rgba(255,255,255, 0.3);
$color-fourth: #46c1ae;


$mobile-widths: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
