.about-us__list {
	padding: 0;
	margin: 0;
}

.about-us__wrapper {
	@include container;
	padding: 0 30px;
}

.about-us__title {
	@include heading-h2;
	margin-top: 0;
	padding-top: 30px;
}

.about-us__item {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	color: $color-main;
	list-style-type: none;
	padding-top: 65px;
	padding-bottom: 18px;
	outline: 1px solid $color-second;
}

@media #{$tablet-widths} {
	.about-us__title {
		@include heading-h2-tablet;
		padding-left: 0;
		padding-top: 70px;
	}
	.about-us__item {
		display: inline-flex;
		width: 330px;
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 28px;
	}
}

@media #{$desktop-widths} {
	.about-us__title {
		@include heading-h1-desktop;
		padding-left: 17%;
		padding-top: 120px;
	}
	.about-us__item:nth-child(2n){
		margin-right: 175px;
	}
	.about-us__list {
		margin-left: 17%;
	}
}
