.btn {
	font-weight: 700;
	font-size: 17px;
	line-height: 20px;
	color: $color-second;
	border: none;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid $color-second;
	padding-top: 15px;
	padding-bottom: 15px;
}
