.catalog-item {
	margin-bottom: 28px;
	outline: 1px solid silver;
}

.catalog-item__title {
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: $color-main;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	margin-bottom: 5px;
}

.catalog-item__descr {
	font-size: 13px;
	line-height: 30px;
	color: $color-second;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	display: block;
	border-bottom: 1px solid silver;
}

.catalog-item__price {
	font-weight: 700;
	font-size: 15px;
	line-height: 24px;
	color: $color-main;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
	padding-top: 22px;
	padding-bottom: 25px;
}

@media #{$tablet-widths} {
 .catalog-item__wrapper {
	 float: right;
	 width: 330px;
 }
 .catalog-item {
	 min-height: 333px;
	 margin-bottom: 50px;
 }
}

@media #{$desktop-widths} {
	.catalog-item {
		width: 316px;

    text-align: center;

		&__image {
			width: 316px;
			height: 464px;
		}

	}
	.catalog-item__descr {

		margin: 0;
		display: inline;
	}
}
