.catalog-item__title{
	font-family: $font-stack-bold;
	font-size: 17px;
	line-height: 24px;
	color: #000000;
}

.catalog-item__descr{
	font-family: $font-stack;
	font-size: 13px;
	line-height: 30px;
	color: #444444;
}

.catalog-item__price{
	font-family: $font-stack-bold;
	font-size: 15px;
	line-height: 24px;
	color: #000000;
}
