.catalog__wrapper {
	@include container;
	padding: 0 30px;
}

@media #{$tablet-widths} {
	.catalog__wrapper {}
	.catalog {
		padding-top: 52px;
	}
}

@media #{$desktop-widths} {
	.catalog {
		padding-top: 123px;
		;
	}
	.catalog__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
