.contacts {
	padding-top: 20px;
}

.contacts__wrapper {
	@include container;
	padding: 0 30px;
	padding-bottom: 35px;
}

.contacts__icon {
	display: none;
}

.contacts__btn {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 260px;
	margin: 0 auto;
	margin-top: 39px;
	margin-bottom: 40px;
}

.contacts__title {
	font-size: 18px;
	line-height: 30px;
	color: $color-main;
	margin-bottom: 25px;
}

.contacts__email {
	display: flex;
	margin-right: 15px;
	margin-bottom: 30px;
}

.contacts__email span {
	@include contacts-font;
	margin-right: 15px;
	align-self: flex-end;
	margin-right: 17px;
}

.contacts__email a {
	@include contacts-font;
	text-decoration: none;
	border-bottom: 1px solid #62d1ba;
	&:hover {
		color: #62d1ba;
	}
	&:active {
		opacity: 0.3;
	}
}

.contacts__adress {
	display: flex;
	align-self: flex-end;
	margin-right: 15px;
	@include contacts-font;
}

.contacts__adress-title {
	margin-right: 30px;
}

.contacts__map {
	display: flex;
}

@media #{$tablet-widths} {
	.contacts__title {
		@include heading-h2-tablet;
		margin-top: 0;
		margin-bottom: 48px;
	}
	.contacts__wrapper {
		position: relative;
		@include clearfix;
	}
	.contacts {
		position: relative;
		padding-top: 64px;
		padding-bottom: 18px;
	}
	.contacts__icon {
		display: block;
		position: absolute;
		right: 50px;
		top: -15px;
	}
	.contacts__adress {
		font-size: 17px;
		float: right;
		width: 334px;
		padding-bottom: 60px;
	}
	.contacts__adress-title {
		margin-right: 45px;
	}
	.contacts__adress-text {
		width: 225px;
		display: inline-flex;
	}
	.contacts__adress-text br {
		display: none;
	}
	.contacts__email {
		float: left;
		width: 319px;
		margin-right: 0;
	}
	.contacts__email span {
		font-size: 17px;
		margin-right: 20px;
	}
	.contacts__email a {
		font-size: 17px;
		border-bottom: 1px solid #62d1ba;
	}
	.contacts__btn {
		width: 230px;
		display: flex;
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
	}
}

@media #{$desktop-widths} {
	.contacts__map {
		float: right;
		position: absolute;
		top: 66px;
		right: 0;
		z-index: -9;
	}
	.contacts__icon {
		left: 66px;
		top: 65px;
	}
	.contacts {
		background-image: none;
		@include clearfix;
		margin: 0 auto;
		width: 1050px;
		position: relative;
		padding-bottom: 65px;
	}
	.contacts__btn {
		margin-left: 176px;
		margin-top: 18px;
	}
	.contacts__wrapper {
		width: 525px;
		padding-top: 73px;
		flex-direction: column;
		margin-left: 0;
		display: flex;
		&::before {
			left: 62px;
			top: 83px;
		}
	}
	.contacts__title {
		@include heading-h1-desktop;
		align-self: center;
		margin-left: 82px;
	}
	.contacts__email {
		align-self: flex-end;
		margin-right: 30px;
		margin-bottom: 30px;
	}
	.contacts__adress {
		align-self: flex-end;
		margin-right: 30px;
		padding-left: 15px;
	}
	.contacts__adress-title {
		margin-right: 25px;
	}
}
