.contacts {
	padding-top: 24px;
}

.contacts__wrapper {
	@include container;
	padding: 0 30px;
	padding-bottom: 5px;
}

.contacts__icon {
	display: none;
}

.contacts__btn {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 260px;
	margin: 0 auto;
	margin-top: 39px;
	margin-bottom: 40px;
}

.contacts__title {
	font-size: 18px;
	line-height: 30px;
	color: $color-main;
	margin-bottom: 25px;
}

.contacts__list-wrapper {
	display: flex;
	@include contacts-font;
	margin-bottom: 32px;
}

.contacts__type {
	white-space: nowrap;
}

.contacts__value {
	margin-left: 32px;
}

.contacts__value a {
	@include contacts-font;
	text-decoration: none;
	border-bottom: 1px solid #62d1ba;
	padding-bottom: 5px;
	&:hover {
		color: #62d1ba;
	}
	&:active {
		opacity: 0.3;
	}
}

.contacts__map {
	display: flex;
	position: relative;
	&::before {
		content: url("../img/icon-map-pin.svg");
		z-index: 999;
		display: block;
		position: absolute;
		width: 66px;
		height: 100px;
		top: 50%;
		left: 51%;
		margin-left: -35px;
		margin-top: -65px;
	}
}

.contacts__img {
	position: absolute;
	z-index: -9;
	left: 50%;
	margin-left: -160px;
}

@media #{$tablet-widths} {
	.contacts__title {
		@include heading-h2-tablet;
		margin-top: 0;
		margin-bottom: 48px;
	}
	.contacts__wrapper {
		position: relative;
		@include clearfix;
	}
	.contacts {
		position: relative;
		padding-top: 83px;
		padding-bottom: 18px;
	}
	.contacts__map {
		overflow: hidden;
		&::before {
			top: 46%;
			left: 36%;
		}
	}
	.contacts__icon {
		display: block;
		position: absolute;
		right: 50px;
		top: -15px;
	}
	.contacts__img {
		margin-left: 0;
		left: 0;
		width: 100%;
	}
	.contacts__list {
		display: flex;
		padding-bottom: 9px;
	}
	.contacts__list-wrapper {
		width: 333px;
		font-size: 17px;
	}
	.contacts__value {
		margin-left: 27px;
	}
	.contacts__value br:nth-child(2n) {
		display: none;
	}
	.contacts__value a {
		font-size: 17px;
		padding-bottom: 3px;
	}
	.contacts__btn {
		width: 230px;
		display: flex;
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
	}
}

@media #{$desktop-widths} {
	.contacts__list {
		flex-direction: column;
		padding-left: 174px;
		margin-top: 6px;
	}
	.contacts__map {
		float: right;
		position: absolute;
		top: 92px;
		right: 0;
		z-index: 100;
		&::before {
			left: 51%;
			top: 50%;
		}
	}
	.contacts__icon {
		left: 62px;
		top: 66px;
	}
	.contacts {
		background-image: none;
		@include clearfix;
		margin: 0 auto;
		width: 1050px;
		position: relative;
		padding-bottom: 65px;
		padding-top: 89px;
	}
	.contacts__btn {
		margin-left: 176px;
		margin-top: 18px;
	}
	.contacts__wrapper {
		width: 525px;
		padding-top: 73px;
		flex-direction: column;
		margin-left: 0;
		display: flex;
		&::before {
			left: 62px;
			top: 83px;
		}
	}
	.contacts__title {
		@include heading-h1-desktop;
		align-self: center;
		margin-left: 82px;
	}
	.contacts__email {
		align-self: flex-end;
		margin-right: 30px;
		margin-bottom: 30px;
	}
	.contacts__adress {
		align-self: flex-end;
		margin-right: 30px;
		padding-left: 15px;
	}
	.contacts__adress-title {
		margin-right: 25px;
	}
	.contacts__img {
		left: 0;
		margin-left: 0;
	}
}
