.container {
	width: 320px;
	padding: 0 30px;
	margin: 0 auto;
}

.container-no-padding {
	width: auto;
	margin: 0 auto;
}

@media #{$tablet-widths} {
	.container-no-padding {
		width: 100%;
		margin: 0 auto;
	}
}

@media #{$desktop-widths} {
	.container-no-padding {
		width: 525px;
		margin: 0 auto;
	}
}
