.copyright {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 28px;
	padding-bottom: 30px;
}

.copyright__copyright-icon {
	fill: #63d1bb;
	&:hover {
		fill: #46c1ae;
	}
	&:active {
		opacity: 0.3;
	}
}

.copyright__descr {
	font-weight: 700;
	font-size: 19px;
	line-height: 19px;
	color: $color-main;
	padding-right: 35px;
}

@media #{$tablet-widths} {
	.copyright {
		border: none;
		margin-top: 13px;
	}
}
