.copyright__descr{
	font-family: $font-stack-bold;
	font-size: 19px;
	line-height: 19px;
	color: #000000;
}

.copyright{
	padding-top: 25px;
	display: flex;
	justify-content: flex-start;
	padding-left: 39px;
}
