.copyright__descr {
	font-weight: 700;
	font-size: 19px;
	line-height: 19px;
	color: $color-main;
}

.copyright {
	padding-top: 25px;
	display: flex;
	justify-content: flex-start;
	padding-left: 39px;
}

.copyright a {
	margin-left: 25px;
}

@media #{$tablet-widths} {
	.copyright {
		padding-top: 0;
		margin-left: 200px;
	}
	.copyright a {
		margin-left: 25px;
	}
}
