@media #{$mobile-widths} {
	.footer{
		min-width: 320px;
	}
}
.footer {
	background-color: #f1f1f1;
}

.footer__container {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.footer__copyright {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	border-top: 1px solid #e5e5e5;
	padding-top: 25px;
	padding-bottom: 30px;
}

.footer__copyright-icon {
	fill: #63d1bb;
	&:hover {
		fill: #46c1ae;
	}
	&:active {
		opacity: 0.3;
	}
}

.footer__copyright-descr {
	font-weight: 700;
	font-size: 19px;
	line-height: 19px;
	color: $color-main;
	padding-right: 35px;
}

@media #{$tablet-widths} {
	.footer__container {
		padding-top: 20px;
		width: 768px;
		padding-bottom: 51px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 49px;
		padding-right: 49px;
	}
	.footer__copyright {
		border: none;
		margin-top: 13px;
	}
}

@media #{$desktop-widths} {
	.footer__container {
		width: 1050px;
		padding-right: 0;
		padding-left: 0;
	}
}
