.index-catalog__item {
	font-family: $font-stack-bold;
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.1em;
	color: $color-third;
	background-color: #63d1bb;
	text-decoration: none;
	padding-top: 25px;
	padding-bottom: 30px;
	display: block;
	text-align: center;
	&:nth-child(2n) {
		background-color: #56c3b2;
	}
}

.index-catalog__wrapper {
	@include container;
}
