.index-catalog__item {
	font-weight: 700;
	font-size: 19px;
	line-height: 24px;
	color: $color-third;
	background-color: #63d1bb;
	text-decoration: none;
	padding-top: 25px;
	padding-bottom: 30px;
	display: block;
	text-align: center;

	&:nth-child(2n) {
		background-color: #56c3b2;
	}
}

.index-catalog__wrapper {
	@include container;
}

@media #{$tablet-widths} {
	.index-catalog {
		padding-top: 250px;
		display: flex;
		@include container;
		width: 668px;
	}
	.index-catalog__item {
		width: 334px;
		text-align: left;
		padding-left: 45px;
		padding-right: 250px;
	}
}

@media #{$desktop-widths} {
	.index-catalog__item {
		width: 525px;
	}
	.index-catalog__item {
		padding-right: 300px;
	}
}
