.logo {
	text-align: center;
	padding: 20px 0;
}

.logo--footer {
	display: none;
}

@media #{$tablet-widths} {
	.logo {
		padding-top: 0;
	}
	.logo a {
		display: flex;
		justify-content: flex-start;
	}
	.logo--footer {
		margin-top: -16px;
		padding: 0;
		display: block;
	}
}

@media #{$desktop-widths} {
	.logo {
		width: 147px;
		left: 50%;
		top: 10px;
		margin-left: -68px;
		position: absolute;
	}
	.logo img{
		width: 147px;
		height: 72px;
	}
	.logo--footer {
		left: 0;
	}
}
