.logo {
	text-align: center;
	padding: 20px 0;
	z-index: 2;
	& a:hover {
		opacity: 0.6;
	}
	& a:active {
		opacity: 0.2;
	}
}

.footer__logo-link {
	font-size: 0;
	&:hover {
		fill: #46c1ae;
	}
	&:active {
		opacity: 0.3;
	}
}

.logo--footer {
	display: none;
	margin-right: 77px;
}

@media #{$tablet-widths} {
	.logo {
		padding-top: 0;
		width: 113px;
	}
	.logo img {
		width: 113px;
		height: 45px;
	}
	.logo a {
		display: flex;
		justify-content: flex-start;
	}
	.logo--footer {
		margin-top: -12px;
		padding: 0;
		display: block;
	}
}

@media #{$desktop-widths} {
	.logo {
		width: 147px;
		left: 43%;
		top: 10px;
		padding: 0;
		margin-bottom: 0;
		line-height: 0;
		position: absolute;
	}
	.logo img {
		width: 147px;
		height: 72px;
	}
	.logo--footer {
		position: static;
		margin-top: -8px;
	}
	.logo--footer img {
		width: 106px;
		height: 41px;
	}
}
