.logo {
	text-align: center;
	padding: 20px 0;
}

@media #{$tablet-widths} {
	.logo a {
		display: flex;
		justify-content: flex-start;
		width: 170px;
	}
}

@media #{$desktop-widths} {
	.logo {
		display: flex;
		justify-content: center;
	}
}
