.order-form__text{
	font-family: $font-stack;
	font-size: 13px;
	line-height: 24px;
	color: #444444;
}

.order-form__title{
	font-family: $font-stack-bold;
	font-size: 17px;
	line-height: 17px;
	color:#63d1bb;
	text-transform: uppercase;
}

.order-form label{
	font-family: $font-stack-bold;
	font-size: 17px;
	line-height: 18px;
	font-weight: 600;
	coloe: #000000;

}

.order-form__wrapper{
	outline: 1px solid black;
}

.order-form__descr{
	font-family: $font-stack;
	font-size: 14px;
	line-height: 16px;
	color:#444444;
}
