.reviews-item__text {
	font-size: 15px;
	line-height: 30px;
	color: $color-second;
}

.reviews-item {
	padding-bottom: 45px;
}

.reviews-item__btn {
	display: inline-block;
	&--prev {
		transform: scale(-1, 1);
		margin-right: 59px;
		margin-left: 37px;
		padding-top: 9px;
	}
	&--next {
		margin-left: 15px;
	}
}

.reviews-item__user-name {
	font-weight: 700;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: $color-main;
	padding-top: 10px;
	padding-bottom: 5px;
	display: inline-block;
}

.reviews-item__user-profile {
	font-weight: 700;
	font-weight: 600;
	font-size: 17px;
	line-height: 30px;
	color: $color-second;
}

.reviews-item__submit-btn {
	display: flex;
	justify-content: center;
}

.reviews-item__arrows {
	margin-top: 30px;
	margin-bottom: 37px;
	height: 50px;
	border: 1px solid black;
}

@media #{$tablet-widths} {
	.reviews__title {
		padding-top: 80px;
	}
	.reviews-item {
		position: relative;
	}
	.reviews-item__text {
		font-size: 17px;
		line-height: 30px;
		margin-top: 49px;
		margin-bottom: 47px;
	}
	.reviews-item__submit-btn {
		display: block;
		width: 175px;
		text-align: center;
		position: absolute;
		top: -98px;
		right: 0;
	}
	.reviews-item__arrows {
		float: right;
		margin-top: -51px;
		margin-right: 19px;
		margin-bottom: 0;
		border: none;
	}
	.reviews-item__user-profile {
		display: block;
	}
	.reviews-item__btn {
		display: inline-block;
		&--prev {
			transform: scale(-1, 1);
			margin-right: 15px;
		}
		&--next {
			margin-left: 15px;
		}
	}
}

@media #{$desktop-widths} {
	.reviews-item__text {
		width: 774px;
		margin-bottom: 28px;
	}
}
