.reviews {
	@include container;
	padding: 0 30px
}

.reviews__title {
	@include heading-h2;
	padding-top: 15px;
	margin-bottom: 25px;
}

@media #{$tablet-widths} {
	.reviews {
		padding: 82px 50px 65px 50px;
		width: 768px;
		margin: 0 auto;
		background-image: url(../img/review@1x.jpg);
		@media #{$retina} {
			background-image: url("../img/review@2x.jpg");
		}
		background-repeat: no-repeat;
		background-size: 350px auto;
		background-position: 0 5px;
	}
	.reviews__title {
		@include heading-h2-tablet;
		padding-top: 0px;
		margin: 0;
	}
}

@media #{$desktop-widths} {
	.reviews__title {
		@include heading-h1-desktop;
	}
	.reviews {
		width: 1050px;
		padding: 77px 0px 120px 179px;
	}
}
