.reviews__title {
	@include heading-h2;
	padding-top: 15px;
	margin-bottom: 25px;
}

@media #{$tablet-widths} {
	.reviews__title {
		@include heading-h2-tablet;
		padding-top: 70px;
	}
	.reviews {
		padding-left: 0;
		background-image: url("../img/review@1x.jpg");
		@media #{$retina} {
			background-image: url("../img/review@2x.jpg");
		}
		background-repeat: no-repeat;
	}
}

@media #{$desktop-widths} {
	.reviews__title {
		@include heading-h1-desktop;
		margin-top: 30px;
	}
	.reviews {
		padding-left: 17%;
		padding-bottom: 40px;
	}
}
