.reviews-item__text {
	font-size: 15px;
	line-height: 30px;
	color: $color-second;
}

.reviews-item {
	padding-bottom: 45px;
}

.reviews-item__user-name {
	font-weight: 700;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: $color-main;
	padding-top: 10px;
	padding-bottom: 5px;
	display: inline-block;
}

.reviews-item__user-profile {
	font-weight: 700;
	font-weight: 600;
	font-size: 17px;
	line-height: 30px;
	color: $color-second;
}

.reviews-item__submit-btn {
	display: flex;
	justify-content: center;
}

.reviews-item__arrows {
	margin-top: 30px;
	margin-bottom: 37px;
	height: 50px;
	border: 1px solid black;
}
