.video {
	margin-bottom: 60px;
}

.video__wrapper {
	width: 260px;
	margin: 0 auto;
	outline: 1px solid $color-main;
	padding-bottom: 30px;
}

.video__title {
	font-weight: 700;
	font-size: 17px;
	line-height: 24px;
	color: $color-main;
	;
	padding-left: 89px;
	padding-top: 29px;
	padding-bottom: 11px;
}

.video__text {
	font-size: 13px;
	line-height: 24px;
	color: $color-second;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 23px;
}

.video__btn {
	display: flex;
	justify-content: center;
	margin-top: 49px;
	margin-left: 33px;
	margin-right: 33px;
}

@media #{$tablet-widths} {
	.video {
		margin-bottom: 106px;
	}
	.video__text {
		@include contacts-font;
		margin-top: 7px;
		margin-left: 11px;
		order: 2;
	}
	.video__btn {
		margin-top: 20px;
		order: 3;
		margin-right: 46px;
		margin-left: 38px;
	}
	.video__wrapper {
		outline: none;
		width: 668px;
		padding-bottom: 47px;
		flex-direction: column;
		display: flex;
	}
	.video__title {
		position: relative;
		order: 2;
		font-size: 20px;
		padding-top: 23px;
		line-height: 24px;
		margin-top: 9px;
		margin-left: 19px;
		&::before {
			position: absolute;
			content: url(../img/icon-video.svg);
			left: 19px;
			top: 18px;
		}
	}
	.video__title br {
		display: none;
	}
	.video__item {
		order: 1;
		width: 666px;
		height: 455px;
	}
}

@media #{$desktop-widths} {
	.video__wrapper {
		position: relative;
		width: 1050px;
		padding-top: 65px;
		padding-right: 50px;
		padding-bottom: 59px;
	}
	.video__wrapper img {
		width: 682px;
		height: 457px;
	}
	.video__item {
		position: absolute;
		top: 0;
		left: 0;
	}
	.video__title {
		align-self: flex-end;
		width: 326px;
		padding-top: 14px;
		&::before {
			left: 91px;
			top: -39px;
		}
	}
	.video__btn {
		width: 228px;
		align-self: flex-end;
		margin-right: 7px;
		margin-top: 29px;
	}
	.video__text {
		padding-top: 2px;
		width: 283px;
		margin-right: -14px;
		align-self: flex-end;
	}
}
