.video__title{
	font-family: $font-stack-bold;
	font-size: 17px;
	line-height: 24px;
	color: #000000;
}

.video__text{
	font-family: $font-stack;
	font-size: 13px;
	line-height: 24px;
	color: #444444;
}
